@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 0px;
}

header, footer{
    font-family: Raleway;
    margin: 0 auto;
	text-align: center;
    background: #555;
	height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


header h1{
    color: #AAA !important;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span{
    color: #222;
}


div.cont
{
    font-family: Raleway;
	text-align: center;
	max-width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.cont a
{
    color: #FFF !important;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.red
{
    background: #f44336;
}

#feedback, .messages{
	margin-top:30px;
}

div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

